.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.grid-container{
      display: grid;
      background-color:lightblue;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows:1fr 2fr ;
      height: 50vh;
      width: 50vw;
}
.item1{
    background-color:red;
    border: 2px solid black;
    /* height: 25vh; */
}
.item2{
  background-color:blue;
  /* height: 25vh; */
}
.item3{
  background-color:greenyellow;
  /* height: 25vh; */
}
.item4{
  background-color:orange;
  /* height: 25vh; */
}
.item5{
  background-color:pink;
  /* height: 25vh; */
}
.item6{
  background-color:aquamarine;
  /* height: 25vh; */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
